<div class = "container mt-3 py-5" id="div">
  <h2> Do you have a question to ask coach?</h2>
  <form action="/answer" method="get" class="form">
    <input type="text" name = "clients" placeholder="your question">
    <input type="submit" value="Ask!">
  </form>
</div>
